# Ignore everything
*

# and whitelist whats needed
!.git/
!backend/
!config/
!content/
!data/
!layouts/
!static/
!bun.lockb
!bun.lock
!Dockerfile
!go.mod
!go.sum
!package.json
!pagefind.toml


# And ignore unnecessary files inside allowed directories
# This should go after the allowed directories

# OS files
**/.DS_Store
**/Thumbs.db

# secrets and env files
**/.env
**/.env.local

# node
**/node_modules
