# OS files
.DS_Store
Thumbs.db

# hugo output & hugo dev and temp files
public
resources/_gen
hugo_stats.json
hugo.work
hugo.work.sum
.hugo_build.lock
.tailwindcss.dev.css

# pagefind output
static/pagefind

# npm packages
node_modules

# env vars, secrets
.env
.env.local
